@model Post


<div class="row">
    <div class="col-lg-8">
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">@Model.Title</h1>
            <div class="tags">
                <a href="#" class="badge bg-primary bg-opacity-10 text-primary mb-2 fw-bold">Php</a>
                <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">Web Development</a>
            </div>
            <img src="~/img/@Model.Image" class="img-fluid rounded" alt="">
            <div>@Model.Content</div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- önceden direk buraya taglaeri getiriyordum ama component oluşturup ordan tag direk çektim,ViewComponent-TagsMenu ve cshtml halide default.cshtml içine aktardım
             -->
        <!--oluşturduğum yapıyı çağırırken taghelper kullanabilirim ,vc=>viewComponent demek-->
        <vc:tags-menu></vc:tags-menu><!--TagsMenu.cs-->
        <vc:new-posts></vc:new-posts><!--NewPosts.cs-->
    </div>
</div>