@model PostsViewModel


<div class="row">
    <div class="col-lg-8">
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">Popular Posts</h1>
            @foreach(var post in Model.Posts){
                <div class="card bg-transparent border-0 mb-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/img/@post.Image" class="img-fluid rounded" alt="">
                        </div>
                        <div class="col-8">
                            <h5><a href="/posts/details/@post.Url" class="btn-link fw-bold">@post.Title</a></h5><!--id bilgisini details sayfasına gönderip o id ye ait verileri getirdim
                            bunun çalışması için;
                            _ViewImports.cshtml içine:
                            @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

                            ***bunun yerine artık url ye göre yaptığım için url göndericem o verinin urlsini 
                            porgramcs de bu şekil tanımladığım için href de böyle yaptım 
                            pattern: "posts/{url}"
                            -->
                            <p>@post.Content</p>
                        </div>
                    </div>
                </div>
                <hr class="my-3">
            }
            <nav>
                <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- önceden direk buraya taglaeri getiriyordum ama component oluşturup ordan tag direk çektim,ViewComponent-TagsMenu ve cshtml halide default.cshtml içine aktardım
             -->
        <!--oluşturduğum yapıyı çağırırken taghelper kullanabilirim ,vc=>viewComponent demek-->
        <vc:tags-menu></vc:tags-menu><!--TagsMenu.cs-->
        <vc:new-posts></vc:new-posts><!--NewPosts.cs-->
    </div>
</div>